# PostgreSQL / Supabase Database Connection
# Format: postgresql://[user]:[password]@[host]:[port]/[database]?schema=public
# Untuk Supabase Transaction Pooler (Port 6543):
# DATABASE_URL="postgres://postgres.[ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgres://postgres.[ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/db_absensi?schema=public"

# JWT Secret untuk authentication admin
JWT_SECRET="absensi-qr-secret-key-change-in-production-2026"
NEXT_PUBLIC_APP_NAME="Absensi QR Sekolah"
